{% extends "base.html" %}


<style>
    h2{
        position:relative;
        font-family: Garamond, serif;
        font-size:300%;
    }
    p{
        position:relative;
        font-family: Garamond, serif;
        font-size:200%;
        text-align: justify;
        padding: 20px;
    }
    blockquote {
        position:relative;
        font-family: Garamond, serif;
        font-size:200%;
    }

</style>
{% block content %}

    <h2>Testing with pytest</h2>
        <p> Testing with pytest: This project highlights the importance of writing unit tests for Python code. Testing your code after
    creating it and while building the project allows you to make sure that you are going in the right direction.
    You can use the assert keyword when writing these tests for each function.
    Running pytest will show you if the tests you made failed (F) or had unexpected exceptions (E) or if it passed (dot .).</p>
    <blockquote> Examples from code: Python -m pip install pytest </blockquote>

    <h2>Creating and Testing the Simple Pages</h2>
        <p>First, I created a new branch from the main to begin working on the simple pages. I created a new directory in the app folder
        called "simple_pages" and created another folder within this called "templates". The "templates" folder stores the code for each
        page on the application written in HTML/CSS.</p>
        <div>
        </div>

        <p>To test the simple pages, I created a new file in the "tests" directory called "simple_pages_test.py". It is important to name
        the file with "_test.py" so that pytest recognizes this file. For each page of my website, I defined a variable and used the assert()
        function to test a particular condition. The assert() function related to the title of each page. I ran pytest in the Python terminal
        to test that each webpage was working. The fact that all the tests passed means that the code is good.</p>

    <h2></h2>
Link to project on Github link to flask:
Flask blueprint documentation:
Flask testing with Pytest:
Explain purpose of every file in the directory
Project Root Folder: Root of project
docker-compose.yml: orchestration file
.coveragerc: configuration file
.dockerignore: used to ignore files and folders when you try to build a docker image
.gitignore: specifies intentionally untracked files the Git should ignore .pylintrc: specifies coding standards for each module
.Dockerfile: file used to create an image to run in a container that runs the file
Heroku.yml: workflow file for Heroku to build the image from Docker and release it to the web
Pytest.ini: this file instructs all files that have tests in the name to be treated as unit tests
Readme.md: contains information for the user about the code/software
Requirements.txt : lists of all the dependencies for a project
setup.py:

{% endblock %}